---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Flixd -  track films you’ve watched and save those you want to see.</title>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-neutral-950 text-neutral-100 font-sora">
		<slot />
	</body>
</html>

<style>
	html, body {margin: 0;width: 100%;height: 100%;}
</style>
